# phpstorm project files

# Allow Git to enter the .idea folder
!.idea/

# Ignore everything INSIDE the .idea folder by default
.idea/*

# Allow exceptions (allow specific files/folders back in)
!.idea/runConfigurations/
!.idea/php.xml
!.idea/servers.xml

# netbeans project files
nbproject

# zend studio for eclipse project files
.buildpath
.project
.settings

# sublime text project / workspace files
*.sublime-project
*.sublime-workspace

# windows thumbnail cache
Thumbs.db

# Mac DS_Store Files
.DS_Store

# composer vendor dir
/vendor

# Codeception C3
c3.php

# Local environment configuration
.env
